{% extends "layout.html" %}

{% block title %}
    sell
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <div class="mb-3">
            <h2>Choose a stock:</h2>

            <select name="symbol" id="symbol">
                <!-- will have to add a Jinja for loop with all the stock the user owns -->
                <option value="">--Please choose an option--</option>
                {% for row in stocks %}
                <option value="{{row["symbol"]}}" >{{ row["symbol"] }}</option>
                {% endfor %}
            </select>
        <div class="mb-3"></div>
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Amount" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}